body {
    font-family: "Noto Sans SC", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 100vh;
    width: 100%;
}

.label-div {
    white-space: nowrap;
    transform: translate(-50%, -50%);
    position: absolute;
    text-shadow: 0pt 1pt 0pt rgba(255, 255, 255, 0.75), 0px 0.4em 0.35em rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 1pt white;
    paint-order: stroke fill;
    letter-spacing: 2pt;
}

#search-container {
    position: absolute;
    margin: 10px 10px 0 0;
    right: 0;
    z-index: 1000;
}

#search {
    width: 32px;
    height: 32px;
    padding: 6px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;utf8,<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>');
    background-color: white;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: width 0.3s ease;
    outline: none;
}

#search.expanded {
    width: 300px;
    background-image: none;
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../../dist/fonts/noto-sans-sc-chinese-simplified-400-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../../dist/fonts/noto-sans-sc-chinese-simplified-500-normal.woff2) format('woff2');
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../../dist/fonts/noto-sans-sc-chinese-simplified-700-normal.woff2) format('woff2');
}