name: minify.yml
run-name: Minify HTML, CSS, and JS files (push -> gh-pages)
on:
  push:
    branches:
      - 'master'

jobs:
  minify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 18
      - run: npm install -g html-minifier
      - run: npm install -g csso-cli
      - run: npm install -g terser

      - run: html-minifier --collapse-boolean-attributes --collapse-whitespace --minify-css --minify-js --minify-urls --remove-attribute-quotes --remove-comments --remove-empty-attributes --remove-optional-tags --remove-redundant-attributes --remove-script-type-attributes --remove-style-link-type-attributes --remove-tag-whitespace --use-short-doctype -o index.html index.html
      - run: csso ./src/css/style.css -o ./src/css/style.css
      - run: for i in ./src/js/*.js; do terser $i --compress -o $i; done

      - run: |
          git config user.name thebamboogrove
          git config user.email 127660177+thebamboogrove@users.noreply.github.com
          git commit -am 'Auto-minify of ${{ github.sha }}'
          git push --force -u origin master:gh-pages