name: minify.yml
run-name: Minify HTML, CSS, and JS files (push -> gh-pages)
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - '**/*.html'
      - '**/*.css'
      - '**/*.js'

jobs:
  minify:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v4.4.0
        with:
          node-version: 18
      - run: npm install -g html-minifier
      - run: npm install -g csso-cli
      - run: npm install -g terser

      - run: html-minifier --collapse-boolean-attributes --collapse-whitespace --minify-css --minify-js --minify-urls --remove-attribute-quotes --remove-comments --remove-empty-attributes --remove-optional-tags --remove-redundant-attributes --remove-script-type-attributes --remove-style-link-type-attributes --remove-tag-whitespace --use-short-doctype -o index.html index.html
      - run: csso ./src/css/style.css -o ./src/css/style.css
      - run: for i in ./src/js/*.js; do terser $i --compress -o $i; done

      - name: Commit compressed files
        run: |
          git config user.name thebamboogrove
          git config user.email 127660177+thebamboogrove@users.noreply.github.com
          
          git add .
          if ! git diff --staged --quiet; then
            git commit -m "Auto-compress files ${{ github.sha }}"
            git fetch origin gh-pages:gh-pages || true
            git checkout gh-pages || git checkout --orphan gh-pages
            git merge origin/master --no-edit --allow-unrelated-histories
            git push origin gh-pages
          else
            echo "No changes to commit"
          fi